@model IEnumerable<ColegioArceProject.Models.Escolaridad>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_diseño.cshtml";
}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2>Escolaridades</h2>
        @*<p>
            @Html.ActionLink("Crear", "Create", new { }, new { @class = "btn btn-light btn-mini" })
        </p>*@
        <table class="table text-center margintop30">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th> @Html.Label("Periodos a cursar")</th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.No_Peridos)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.id_escolaridad }, new { @class = "btn btn-success btn-sm" }) 
                        @* @Html.ActionLink("Detalles", "Details", new { id = item.id_escolaridad }, new { @class = "btn btn-primary btn-sm" }) |*@
                        @*@Html.ActionLink("Eliminar", "Delete", new { id = item.id_escolaridad }, new { @class = "btn btn-danger btn-sm" })*@
                    </td>
                </tr>
            }

        </table>

    </div>
    <div class="col-md-1"></div>

</div>



