@model ColegioArceProject.Models.Rango

@{
    ViewBag.Title = "Crear rango de precio";
    Layout = "~/Views/Shared/_diseño.cshtml";
}

<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Crear Rango</h4>
            <hr />

            <div class="form-group">
                @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.Label("Día inicio para el rango", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Inicio, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Inicio, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Día ultimo para el rango", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Fin, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Fin, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Crear" class="btn btn-success btn-mini" />
                    @Html.ActionLink("Cancelar", "Index", new { }, new { @class = "btn btn-danger btn-mini" })
                </div>
            </div>
        </div>
        }
        @*  *@
    </div>
    <div class="col-md-1">
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
