@model ColegioArceProject.ViewModels.GrupoViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_diseño.cshtml";
}


<div class="row">
    <div class="col-md-3"></div>
    <div class="card">
        <h5 class="card-header">Está seguro de eliminar al siguiente Grupo?</h5>
        <div class="card-body">
                <div class="col-md-12">
                    <label class="negrita"> @Html.DisplayNameFor(model => model.Descripcion)</label>
                    <p>@Html.DisplayFor(model => model.Descripcion)</p>
                </div>
                <div class="col-md-12">
                    <label class="negrita"> @Html.DisplayNameFor(model => model.DescripcionEscolaridad)</label>
                    <p>@Html.DisplayFor(model => model.DescripcionEscolaridad)</p>
                </div>
                <div class="col-md-12 text-lg-center">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                        @Html.ActionLink("Cancelar", "Index", new { }, new { @class = "btn btn-default btn-sm" })
                    </div>
                    }
                </div>
        </div>
    </div>
</div>