@model ColegioArceProject.ViewModels.ReporteViewModel


<div class="col-md-1"></div>
<div class="form-group col-md-5">
    @Html.LabelFor(x => x.FechaInicio, htmlAttributes: new { @class = "control-label" })
    @Html.EditorFor(model => model.FechaInicio, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
    @*@Html.ValidationMessageFor(model => model.Listaanos, "", new { @class = "text-danger" })*@
</div>
<div class="form-group col-md-5">
    @Html.LabelFor(x => x.FechaFin, htmlAttributes: new { @class = "control-label" })
    @Html.EditorFor(model => model.FechaFin, new { htmlAttributes = new { @class = "form-control form-control-sm", @id = "FechaFin" } })
    @*@Html.ValidationMessageFor(model => model.Listaanos, "", new { @class = "text-danger" })*@
</div>
<div class="col-md-1"></div>
<div class="form-group col-md-12 text-md-center">
    @Html.LabelFor(model => model.Alumno, htmlAttributes: new { @class = "control-label" })
</div>
<div class="col-md-3"></div>
<div class="col-md-6 marginbot40">
    @Html.EditorFor(model => model.Alumno, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Alumno, "", new { @class = "text-danger" })
</div>
<div class="col-md-3"></div>

@Html.HiddenFor(model => model.id_Alumno)
@*<div class="form-group col-md-4">
        @Html.Label("Escriba el Nombre: ", htmlAttributes: new { @class = "control-label " })
        @Html.TextBoxFor(model => model.Nombre, htmlAttributes: new { @class = "form-control form-control-sm" })
        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-4">
        @Html.Label("Escriba el Apellido Paterno: ", htmlAttributes: new { @class = "control-label " })
        @Html.TextBoxFor(model => model.ApellidoP, htmlAttributes: new { @class = "form-control form-control-sm" })
    </div>
    <div class="form-group col-md-4">
        @Html.Label("Escriba el Apellido Materno: ", htmlAttributes: new { @class = "control-label " })
        @Html.TextBoxFor(model => model.ApellidoM, htmlAttributes: new { @class = "form-control form-control-sm" })
    </div>*@
<div class="col-md-12 text-center margintop18">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="Buscar">Crear Reporte</button>
</div>
@*<button class="btn btn-outline-success my-2 my-sm-0 " type="submit" id="Excel">Excel</button>*@

